.faqButtonContainer{
    text-align: center;
}
.faqButton {
    background: var(--violet) !important;
    border-color:  var(--violet) !important;
    color: var(--primary-white) !important;
    border-radius: 8px;
    font-family: 'Prompt', sans-serif !important;
    padding: 12px 24px;
    margin-top: 1.2rem;
}
@media screen and (max-width: 640px) {
    .faqButtonContainer :global(.buttonText) {
        width: 100%;
    }
    
}