.backgroundImageContainer {
    width: 100%;
    background-color: #F6F6F7;
   
}
.imageContainerNew{
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-image: url('/public/assets/images/machineworkimagenew.png');
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    z-index: 0;

    max-width: 1584px;
}

.outerContainer {
    overflow: unset;
}

.headingContainer {
    width: 51%;
}

.movingBar {
    position: absolute;
    width: 22%;
    height: 21%;
    top: 12%;
    left: 53.5%;
    background-size: 100% 100%;
    background-position: center;
}

.arrow {
    position: absolute;
    top: 7rem;
    right: 0;

}

.heading :global(.commonText) h2 {
    color: var(--grey-color-800);
    padding-top: 6rem;
    text-align: start;
    margin-bottom: 1.6rem;
    z-index: 1;
    position: relative;

}

.description :global(.commonText) p {
    color: var(--grey-color-800);
    letter-spacing: 0.2px;
    text-align: start;

}

.bannerImageContainerGear {
    position: absolute;
    scale: 0.2;
    right: 19%;
    top: 17%;
    z-index: -1;
}

.animatedImage {
    position: relative;
}

.animatedImageArrow {
    rotate: 180deg;
    position: absolute;
    top: 60%;
    width: 81%;
    left: 0;
    z-index: -1;

}

.imageContainer {
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.imageContainer img {
    width: 96%;
    height: auto;
}

@media screen and (max-width:1046px) {
    .imageContainer {
        margin-top: 2rem;
    }

}

@media screen and (max-width:1024px) {

    .headingContainer {
        width: 66%;
    }
    .heading :global(.commonText) h2{
        padding-top: 2rem;
    }

    .movingBar {
        position: absolute;
        width: 23%;
        height: 166px;
        top: 9.3%;
        left: 53.1%;
    }
}
@media screen and (max-width:860px) {
    .movingBar{
        height: 156px;
    }
    
}

@media screen and (max-width:768px) {
    .headingContainer {
        width: 82%;
    }
    .imageContainerNew{
        background: none;
    }

    .imageContainer img {
        width: 80%;
    }

    .movingBar {
        display: none;
    }

    .backgroundImageContainer {
        background-color: unset;
        height: auto;
    }

    .bannerImageContainerGear {
        display: block;
        top: 0;
        position: absolute;
        height: 46%;
        width: 26%;
        bottom: 57.1%;
        right: 17.6%;
        z-index: -1;
        scale: 0.6;
    }

    .heading :global(.commonText) h2 {
        padding-top: 2rem;
    }

    .arrow {
        display: none;
    }

    .animatedImageArrow {
        display: none;
    }
}

@media screen and (max-width:640px) {
    .headingContainer {
        width: 90%;
    }
    .heading :global(.commonText) h2 {
        padding-top: 2rem;
    }

    .imageContainer {
        margin-top: 1.2rem;
    }

    .imageContainer img {
        width: 100%;
    }

    .heading :global(.commonText) h2 {
        margin-bottom: 0.8rem;
    }

    .bannerImageContainerGear {
        display: block;
        top: 0;
        position: absolute;
        height: 46%;
        width: 26%;
        bottom: 57.1%;
        right: 17.6%;
        z-index: -1;
        scale: 0.6;
    }
}

@media screen and (max-width:500px) {
    .bannerImageContainerGear {
        right: 23.6%;
        z-index: -1;
        scale: 0.5;
    }

}

@media screen and (max-width:425px) {
    .bannerImageContainerGear {
        z-index: -1;
        scale: 0.4;
    }

}