.starContainer {
    width: 50%;
    min-width: 245px;
    max-width: 432px;
    border: 1px solid white;
    border-radius: 1.2rem;
    padding: 0.9rem 1rem;
}

.description {
    font-style: italic;
    font-size: 15px;

}

.star {

    padding-left: 4px;
}

.writer {
    font-size: 14px;

    text-align: end;
}

@media screen and (max-width:640px) {
    .description,
    .writer {
        font-size: 9px;
    }


}