.starContainer {
    width: 100%;
    /* min-width: 245px; */
    /* max-width: 432px; */
    /* border: 1px solid var(--primary-white); */
    border-radius: 1.2rem;
    padding: 0.9rem 1rem;
}

.description {
    font-style: italic;
    font-size: 18px;

}

.star {

    padding-left: 4px;
}

.writer {
    font-size: 14px;
        padding-top: 0.5rem;
    text-align: start;
    color: rgba(255, 255, 255, 0.63);
}

@media screen and (max-width:640px) {

    .description,
    .writer {
        font-size: 12px;
    }

    .writer {
        text-align: end;

    }
}