.outerContainer {
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
}

.headingContainer {
    display: flex;
    justify-content: space-around;
    gap: 10rem;
}

.titleContainer :global(.commonText) h2 {
    color: var(--color-grey-800, #131313);
    text-align: center;
    padding-bottom: 0.8rem;
    margin-bottom: 0;

}

.description :global(.commonText) p {
    color: var(--grey-color-800);
    max-width: 560px;

    text-align: center;

}
.titleContainer :global(.commonText) p {
    font-size: 17px;
    text-align: center;
    line-height: 24px;
}

.imageContainer {
    width: 72%
}

.image {
    width: 100%
}

@media screen and (max-width:1024px) {
    .headingContainer{
        gap: 5rem;
    }
}
@media screen and (max-width:940px) {
    .headingContainer{
        gap: 2rem;
    }
}
@media screen and (max-width:768px) {
    .headingContainer{
        gap: 1rem;
    }
    .imageContainer{
        width: 100%;
    }
}
@media screen and (max-width:640px) {
    .titleContainer :global(.commonText) p {
        font-size: 17px;
        text-align: center;
        line-height: 24px;
    }
    
}