.content {
    display: flex;
    justify-content: space-between;
    padding: 3.2rem 1rem;
}

.container {
    background-color: var(--primary-black-dark);
}
.footerDescription :global(.commonText) p,.link :global(.commonText) p,.copyRight :global(.commonText) p{
    color:#B2B2B2;
}
.logoContainer {
    display: flex;
    width:34%;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.socialLinks {
    display: flex;
    gap: 1rem;
    padding: 1rem 1rem;
}
.socialLinkImage{
    width: 18px;
    height: 18px;
}

.links {
    display: flex;
    gap: 4rem;

}

.links a {
    text-decoration: none;
    cursor: pointer;
}

.heading :global(.commonText) p {
    margin-bottom: 1.4rem;
    color: var(--primary-white);
}

.productLinks,
.socialLink {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.socialIcon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.productLinks div,
.socialLink a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    font-weight: normal;
    color: var(--footer-text);

    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.1px;

}

.productLinksContainer h4,
.socialLinkContainer h4,
.contact h4 {
    color: var(--grey-color-700);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.2px;
    margin-top: 0rem;

}

.email {
    display: flex;
    color: var(--footer-text);

    align-items: center;
    gap: 0.2rem;
    font-family: 'inter';
    font-size: 16px;
}

.copyRight {
    padding: 0.6rem 0;
    border-top: 1px solid #848BA3 !important;
    color: var(--footer-text);
    text-align: center;

}


.email a {
    text-decoration: none;
    color: inherit;
}


@media screen and (max-width:840px) {

    .content {
        gap: 1%
    }
    .productLinksContainer,.socialLinkContainer,.contact{
        width: 40%;
    }

    .links{
        flex-wrap: wrap;
    }
    .socialLinks{
        justify-content: end;
    }
}

@media screen and (max-width:768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .links {
        width: 100%;
        gap: 1rem;
    }

    .productLinks,
    .socialLink,
    .productLinksContainer h4,
    .socialLinkContainer h4,
    .contact h4 {
        text-align: start;
    }

    .heading :global(.commonText) p {
        margin-bottom: 1rem;
        text-align: start;
    }

    .logoContainer {
        align-items: center;
        margin-bottom: 1rem;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .copyRight {
        align-self: start;
        margin-top: 1rem;
        width: 100%;
    }

    .contact p {
        text-align: start;
    }

    @media screen and(max-width:640px) {
        .email {
            font-size: 14px;
        }

    }

}