.performanceStatsContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    border-top: 2px solid #d6d6d7;
}

.statBox {
    width: 33%;
    text-align: center;
    padding-top: 2.4rem;
    border-right:2px solid #d6d6d7;
}
.statBox:last-child{
    border-right: unset;
}