.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    justify-content: center;
    overflow: unset;
}

.whySkodyContainer {
    position: relative;
    text-align: center;
    width: 90%;

}

.floatingContent {
    position: absolute;
    bottom: 0%;
    scale: 1.1;
    color: var(--primary-white);
    font-size: 3rem;
    font-weight: 700;
}
.floatingPoints{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.whySkodyImage {
    width: 100%;
    max-width: 966px;

    height: auto;
}