.pricingSection {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderWrapper {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keenSlider {
  width: 100%;
  overflow: visible !important;
}

.card {
  border-radius: 20px;
  max-width: 400px;
  width: 100%;
  border: 1px solid var(--light-blue);
  display: flex;
  overflow: unset !important;
  flex-direction: column;
  position: relative;
  height: fit-content;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1rem 1.2rem;
  background: var(--light-blue);
  justify-content: space-evenly;
  min-height: 430px !important;
  /* height: 500px; */
}

.cardHeader {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.iconContainer {
  display: flex;
  /* align-items: center; */
  gap: 1rem;
}


.priceIconContainer {
padding: 0.8rem;
  
      background: #89b2ef33;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card:first-child .cardBody .priceRow span {
  color: white;
  font-family: "SF Pro";

}
.features {
  margin: 1rem 0 2rem 0;
  color: var(--charcoal);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  overflow: auto;
  padding-left: 0;
}

.bulletPointContainer {
  display: flex;
  align-items: start;
  gap: 0.6rem;
  list-style-type: none;
}

.tickIcon {
  width: 14px;
  height: 10px;
  padding-top: 8px;
}

.dots {
  display: flex;
  justify-content: center;
  margin: 12px 0 0 0;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
  border: none;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
}

.dotActive {
  background: rgb(37 37 37 / 60%); 
  transform: scale(1.25);
}

.cta {
  padding: 0.5rem 2rem;
  width: 100%;
  background: transparent !important;
  border: 1px solid var(--violet) !important;
  color: var(--charcoal) !important;
  cursor: pointer;
  font-weight: 400 !important;
  transition: background 0.2s;
}

.cta:hover {
  background: var(--zaffra) !important;
  color: var(--primary-white) !important;
}

.popularBadge {
  position: absolute;
  top: -1rem;
  font-family: 'prompt';
  left: 50%;
  transform: translateX(-50%);
  background: var(--violet);
  color: var(--primary-white);
  border-radius: 20px;
  padding: 0.3rem 1rem;
  font-size: 0.85rem;
  font-weight: 500;
}

.priceRow {
  display: flex;
  padding-top: 1rem;
  align-items: baseline;
  margin-bottom: 1rem;
}
.priceRow .unit {
  /* font-size: 1.2rem; */
      color: var(--Outerspace);
  margin-left: 0.3rem;
}


.price {
  font-size: 2.25rem;
  font-weight: bold;
  color: var(--violet);
}
.cardHeader {
  padding: 0.5rem 0rem 1rem;
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
  border-bottom: 1px solid #3434363b;
}
.card:first-child{
 background: linear-gradient(150deg, #002BC4, 32%, #AFCFFF);
}
.card:first-child .cardHeader {
    border-bottom: 1px solid white;


}
.card:first-child .cardHeader .iconContainer :global(.commonText) h3 {
  color: white;

}
.card:first-child .cardHeader .iconContainer :global(.commonText) p {
  color: rgba(255, 255, 255, 0.603);

}
.iconContainer {
  padding-bottom: 0.2rem;
  display: flex;
  /* align-items: center; */
  gap: 0.2rem;
  flex-direction: column;
}
.spacer{
  display: flex;
  height: 257px;
  
  flex-direction: column;
  justify-content: space-between;
  background: white;
  padding:1.3rem;
  /* margin-bottom: 2rem; */
  border-radius: 0.7rem;  
}
.iconContainer :global(.commonText) h3 {
  font-size:28px;
}
@media (max-width: 464px) {
  .sliderWrapper {
    max-width: 300px;
    padding-top: 2.2rem;
  }

  .card {
    padding: 0.7rem;
    max-width: 98vw;
  }
}